<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://i.ibb.co/VNLFj1z/image.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="img-responsive" href="/" aria-label="NewsAgent"><img src="https://i.ibb.co/vXjv57h/image.png" height="50px" alt="img"></a>
    </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">News
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'news_news'%}">News</a></li>
          <li><a href="{% url 'news_politics'%}">Politics</a></li>
        </ul>
      </li>
        <li><a href="{% url 'tech'%}">Tech</a></li>
        <li><a href="{% url 'sports'%}">Sports</a></li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lifestyle
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'health'%}">Health</a></li>
          <li><a href="{% url 'fitness'%}">Fitness</a></li>
        </ul>
      </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'register'%}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="{% url 'login'%}?next={{request.path}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
  </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>